In [1]:
%pip install pyspark==3.2.0

Collecting pyspark==3.2.0
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.3/281.3 MB 10.5 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.2 (from pyspark==3.2.0)
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl.metadata (1.3 kB)
Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Buidone
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805953 sha256=0bcba81361e25c06da382975770851c53539378402310b94cbf01558a54d5fa6
  Stored in directory: /home/jovyan/.cache/pip/wheels/ec/e3/5e/b357eb100224fa7f5da845bd31419d9e1140be90cfde6ed560
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyspark
print(pyspark.__version__)

3.2.0

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [4]:
spark = (
    SparkSession
    .builder
    .appName("An Spark application")
    .getOrCreate()
)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/19 06:16:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
read_opts = {
    "header": "true",
    "delimiter": ",",
    "inferSchema": "false"
}

In [6]:
schema = StructType([
    StructField("Game", StringType(), nullable=True),
    StructField("Year", IntegerType(), nullable=True),
    StructField("Genre", StringType(), nullable=True),
    StructField("Publisher", StringType(), nullable=True),
    StructField("North America", DoubleType(), nullable=True),
    StructField("Europe", DoubleType(), nullable=True),
    StructField("Japan", DoubleType(), nullable=True),
    StructField("Rest of world", DoubleType(), nullable=True),
    StructField("Global", DoubleType(), nullable=True)
])

In [25]:
df = spark.read.options(**read_opts).schema(schema).csv("/home/jovyan/data/PS4_GamesSales.csv")

In [8]:
df.show(5, truncate=False)

+-------------------------+----+----------------+--------------+-------------+------+-----+-------------+------+
|Game                     |Year|Genre           |Publisher     |North America|Europe|Japan|Rest of world|Global|
+-------------------------+----+----------------+--------------+-------------+------+-----+-------------+------+
|Grand Theft Auto V       |2014|Action          |Rockstar Games|6.06         |9.71  |0.6  |3.02         |19.39 |
|Call of Duty: Black Ops 3|2015|Shooter         |Activision    |6.18         |6.05  |0.41 |2.44         |15.09 |
|Red Dead Redemption 2    |2018|Action-Adventure|Rockstar Games|5.26         |6.21  |0.21 |2.26         |13.94 |
|Call of Duty: WWII       |2017|Shooter         |Activision    |4.67         |6.21  |0.4  |2.12         |13.4  |
|FIFA 18                  |2017|Sports          |EA Sports     |1.27         |8.64  |0.15 |1.73         |11.8  |
+-------------------------+----+----------------+--------------+-------------+------+-----+-------------+------+
only showing top 5 rows

In [9]:
df.filter(df["Year"].isNull()).count()

209

In [10]:
nulls: dict[str, int] = {col: df.filter(df[col].isNull()).count() for col in df.columns}
nulls

{'Game': 0,
 'Year': 209,
 'Genre': 0,
 'Publisher': 209,
 'North America': 0,
 'Europe': 0,
 'Japan': 0,
 'Rest of world': 0,
 'Global': 0}

## Otra cosa bacana de Spark
Hay otra cosa bacana de Spark y es que nos permite usar SQL como Data Manipulation Language (DML).

In [26]:
df.createOrReplaceTempView("Games")  # Creamos una vista temporal de nuestro dataframe

In [27]:
spark.sql("SELECT COUNT(Year) FROM Games WHERE Year IS NOT NULL;").show(5)

+-----------+
|count(Year)|
+-----------+
|        825|
+-----------+

In [41]:
spark.sql("CREATE OR REPLACE TEMP VIEW GamesWoNulls AS SELECT * FROM Games WHERE Year IS NOT NULL;")

DataFrame[]

In [36]:
spark.sql("SELECT * FROM GamesWoNulls WHERE Year IS NULL").show()

+----+----+-----+---------+-------------+------+-----+-------------+------+
|Game|Year|Genre|Publisher|North America|Europe|Japan|Rest of world|Global|
+----+----+-----+---------+-------------+------+-----+-------------+------+
+----+----+-----+---------+-------------+------+-----+-------------+------+

In [37]:
df_wo_nulls = spark.sql("SELECT * FROM GamesWoNulls")  # Let's pass the view back to df

In [38]:
df_wo_nulls.show()

+--------------------+----+----------------+--------------------+-------------+------+-----+-------------+------+
|                Game|Year|           Genre|           Publisher|North America|Europe|Japan|Rest of world|Global|
+--------------------+----+----------------+--------------------+-------------+------+-----+-------------+------+
|  Grand Theft Auto V|2014|          Action|      Rockstar Games|         6.06|  9.71|  0.6|         3.02| 19.39|
|Call of Duty: Bla...|2015|         Shooter|          Activision|         6.18|  6.05| 0.41|         2.44| 15.09|
|Red Dead Redempti...|2018|Action-Adventure|      Rockstar Games|         5.26|  6.21| 0.21|         2.26| 13.94|
|  Call of Duty: WWII|2017|         Shooter|          Activision|         4.67|  6.21|  0.4|         2.12|  13.4|
|             FIFA 18|2017|          Sports|           EA Sports|         1.27|  8.64| 0.15|         1.73|  11.8|
|             FIFA 17|2016|          Sports|     Electronic Arts|         1.26|  7.95| 0.12|         1.61| 10.94|
|     Uncharted (PS4)|2016|          Action|Sony Interactive ...|         4.49|  3.93| 0.21|          1.7| 10.33|
|    Spider-Man (PS4)|2018|Action-Adventure|Sony Interactive ...|         3.64|  3.39| 0.32|         1.41|  8.76|
|Call of Duty: Inf...|2016|         Shooter|          Activision|         3.11|  3.83| 0.19|         1.36|  8.48|
|           Fallout 4|2015|    Role-Playing|  Bethesda Softworks|         2.91|  3.97| 0.27|         1.34|  8.48|
|             FIFA 16|2015|          Sports|           EA Sports|         1.15|  5.77| 0.07|         1.23|  8.22|
|Star Wars Battlef...|2015|         Shooter|     Electronic Arts|         3.31|  3.19| 0.23|          1.3|  8.03|
|Call of Duty: Adv...|2014|         Shooter|          Activision|         2.84|  3.34| 0.14|         1.22|  7.53|
|       Battlefield 1|2016|         Shooter|     Electronic Arts|          2.2|  3.65| 0.29|         1.12|  7.26|
|      The Last of Us|2014|Action-Adventure|Sony Computer Ent...|          2.7|  2.86| 0.11|          1.1|  6.77|
|           MineCraft|2014|            Misc|Sony Computer Ent...|         1.89|  3.13| 0.35|         0.96|  6.33|
|             FIFA 15|2014|          Sports|           EA Sports|         0.83|  4.49| 0.05|         0.94|  6.32|
|    God of War (PS4)|2018|          Action|Sony Interactive ...|         2.83|  2.17| 0.13|         1.02|  6.15|
|  Horizon: Zero Dawn|2017|          Action|Sony Interactive ...|          2.2|  2.43| 0.28|         0.92|  5.82|
|             Destiny|2014|         Shooter|          Activision|         2.53|  2.13| 0.16|         0.94|  5.76|
+--------------------+----+----------------+--------------------+-------------+------+-----+-------------+------+
only showing top 20 rows

## Transformaciones:
Hagamos algunas transformaciones sobre los datos.
1. Eliminemos todas las filas que contengan datos nulos.
2. Queremos solo los videojuegos que su Publisher sea Sony o EA.

In [43]:
filter_data_query = """
SELECT * FROM Games
WHERE Genre LIKE '%Sony%' or Genre LIKE '%EA%' or Genre == 'Electronic Arts' 
"""

In [44]:
spark.sql(f"CREATE OR REPLACE TEMP VIEW filtered AS {filter_data_query}")

DataFrame[]

In [45]:
spark.sql("SELECT * FROM filtered").show()

+----+----+-----+---------+-------------+------+-----+-------------+------+
|Game|Year|Genre|Publisher|North America|Europe|Japan|Rest of world|Global|
+----+----+-----+---------+-------------+------+-----+-------------+------+
+----+----+-----+---------+-------------+------+-----+-------------+------+