In [14]:
%pip install pyspark==3.2.0, requests

Requirement already satisfied: pyspark==3.2.0 in /opt/conda/lib/python3.12/site-packages (3.2.0)
Requirement already satisfied: requests in /opt/conda/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: py4j==0.10.9.2 in /opt/conda/lib/python3.12/site-packages (from pyspark==3.2.0) (0.10.9.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/lib/python3.12/site-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.12/site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.12/site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.12/site-packages (from requests) (2024.12.14)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.types import *
from requests import get

In [7]:
postgres_jar = "/usr/local/spark/jars/postgresql-42.3.8.jar"

In [8]:
spark = (
    SparkSession
    .builder
    .appName("An Spark application")
    .config("spark.jars", postgres_jar)
    .getOrCreate()
)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.2.0-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
25/01/19 23:57:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [9]:
jdbc_url = "jdbc:postgresql://postgres-db:5432/downstream"
db_properties = {
    "user": "admin",
    "password": "secret",
    "driver": "org.postgresql.Driver"
}

In [11]:
schema = StructType([
    StructField("Game", StringType(), nullable=True),
    StructField("Year", IntegerType(), nullable=True),
    StructField("Genre", StringType(), nullable=True),
    StructField("Publisher", StringType(), nullable=True),
    StructField("North America", DoubleType(), nullable=True),
    StructField("Europe", DoubleType(), nullable=True),
    StructField("Japan", DoubleType(), nullable=True),
    StructField("Rest of world", DoubleType(), nullable=True),
    StructField("Global", DoubleType(), nullable=True)
])

## Creando la tabla de videojuegos en PSQL

In [12]:
df = spark.read.option("header", True).csv("/home/jovyan/data/PS4_GamesSales.csv")

In [13]:
df.write.jdbc(url=jdbc_url, table="Games", mode="overwrite", properties=db_properties)

## ETL con Spark
Hagamos una ETL usando Spark.
1. Extraemos de MongoDB, nuestro upstream.
2. Realicemos las siguientes transformaciones sobre los datos:
3. Cargamos a PostgreSQL, nuestro downstream.

In [20]:
API_KEY = "4f1e6cf579d44b7db3fe6d6505c54b2b"

In [26]:
def get_news(url: str, search_term: str, date_from: str, api_key: str):
    return get(url.format(search_term, date_from, api_key)).json()

In [34]:
news_url = "https://newsapi.org/v2/everything?q={}&from={}&sortBy=publishedAt&apiKey={}"
get_news(news_url, "elon musk", "2024-12-20", API_KEY)["articles"][0:3]

[{'source': {'id': None, 'name': 'Newsbreak.com'},
  'author': 'Brett Rowland | The Center Square',
  'title': "Report: Federal government can't fully account for its 'unsustainable' spending - NewsBreak",
  'description': "(The Center Square) – A Congressional watchdog says it is again unable to determine if the federal government's financial statements are reliable. The fed",
  'url': 'https://www.newsbreak.com/share/3767247761179-report-federal-government-can-t-fully-account-for-its-unsustainable-spending?_f=app_share&pd=0GOkyYtn&lang=en_US&send_time=1737245806&trans_data=%7B%22platform%22%3A0%2C%22cv%22%3A%2225.3.0.29%22%2C%22languages%22%3A%22en%22%7D&sep=ns_foryou_blend_exp_25q1-v2%2Cns_foryou_model_exp_25q1-v2%2Cns_foryou_rank_exp_25q1-v3%2Cns_foryou_recall_exp_25q1-v5%2Cns_push_exp_rt_bucketv12-v1&s=i2',
  'urlToImage': 'https://img.particlenews.com/img/id/3CHFvx_0yFyNcEn00',
  'publishedAt': '2025-01-19T00:24:36Z',
  'content': "(The Center Square) A Congressional watchdog says it is again unable to determine if the federal government's financial statements are reliable. \r\n The federal government reported net costs of $7.4 t… [+2282 chars]"},
 {'source': {'id': None, 'name': 'Biztoc.com'},
  'author': 'youtube.com',
  'title': 'Billionaire bromance: Elon Musk & Jeff Bezos team up',
  'description': 'Is there a budding bromance between Elon Musk & Jeff Bezos? After years of rivalry, the two billionaires are exchanging ...',
  'url': 'https://biztoc.com/x/feed5ff71e23873f',
  'urlToImage': 'https://biztoc.com/cdn/feed5ff71e23873f_s.webp',
  'publishedAt': '2025-01-19T00:17:44Z',
  'content': 'Is there a budding bromance between Elon Musk &amp; Jeff Bezos? After years of rivalry, the two billionaires are exchanging ...\r\nThis story appeared on youtube.com, 2025-01-18 23:12:37.'},
 {'source': {'id': None, 'name': 'Newsbreak.com'},
  'author': 'Brett Rowland | The Center Square',
  'title': "Report: Federal government can't fully account for its 'unsustainable' spending - NewsBreak",
  'description': "(The Center Square) – A Congressional watchdog says it is again unable to determine if the federal government's financial statements are reliable. The fed",
  'url': 'https://www.newsbreak.com/share/3767247761179-report-federal-government-can-t-fully-account-for-its-unsustainable-spending?_f=app_share&pd=00blTmeh&lang=en_US&send_time=1737245681&trans_data=%7B%22platform%22%3A0%2C%22cv%22%3A%2225.3.0.29%22%2C%22languages%22%3A%22en%22%7D&sep=ns_foryou_model_exp_25q1-v2%2Cns_foryou_recall_exp_25q1-v5%2Cns_push_exp_rt_bucketv12-v5%2Cns_foryou_blend_exp_25q1-v4%2Cns_foryou_rank_exp_25q1-v9&s=i2',
  'urlToImage': 'https://img.particlenews.com/img/id/3CHFvx_0yFyNcEn00',
  'publishedAt': '2025-01-19T00:16:09Z',
  'content': "(The Center Square) A Congressional watchdog says it is again unable to determine if the federal government's financial statements are reliable. \r\n The federal government reported net costs of $7.4 t… [+2282 chars]"}]